<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}" class="html-fullscreen">

<head>
  <title>ResponseGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <script src="{{.ServerPath}}/js/moment-with-locales-2.29.1.min.js"></script>
  <script src="{{.ServerPath}}/js/Chart-2.9.4.min.js"></script>
  <link rel="stylesheet" href="{{.ServerPath}}/css/Chart-2.9.4.css">
  <link rel="stylesheet" href="{{.ServerPath}}/css/responsego.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="{{.ServerPath}}/static/Logo.svg" sizes="any">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      ResponseGo!
    </div>
  </header>

  <div class="mainbox">
    <div class="offline">
      <h1>{{.Translation.NoConnection}}</h1>
    </div>

    <div class="even contentbox online" style="height: 10%">
        <!---Metadata-->
        <p>{{.Translation.ParticipantLink}}: {{.URL}} - <a href="{{.QR}}" target="_blank">QR-Code</a></p>
    </div>

    <div class="contentbox online" style="height: 20%">
        <!---Symbols-->
        <table style="border: none;">
          <tr style="border: none; background-color: inherit;">
            <td style="border: none;"><img class="icon" src="{{.ServerPath}}/static/slower.svg" alt="{{.Translation.Slower}}"/></td>
            <td style="border: none;"><img class="icon" src="{{.ServerPath}}/static/break.svg" alt="{{.Translation.Break}}"/></td>
            <td style="border: none;"><img class="icon" src="{{.ServerPath}}/static/faster.svg" alt="{{.Translation.Faster}}"/></td>
            <td style="border: none;"><img class="icon" src="{{.ServerPath}}/static/question.svg" alt="{{.Translation.Question}}"/></td>
            <td style="border: none;"><img class="icon" src="{{.ServerPath}}/static/good.svg" alt="{{.Translation.Good}}"/></td>
            <td style="border: none;"><a onclick="resetIcons()">Reset icon count</a></td>
          </tr>
          <tr style="border: none; background-color: inherit;">
            <td style="border: none;"><div id="_slower">0</div></td>
            <td style="border: none;"><div id="_break">0</div></td>
            <td style="border: none;"><div id="_faster">0</div></td>
            <td style="border: none;"><div id="_question">0</div></td>
            <td style="border: none;"><div id="_good">0</div></td>
            <td style="border: none;"></td>
          </tr>
        </table>
    </div>

    <div id="tabs" style="height: 5%; overflow: auto;" class="online">
      <button class="tabbutton" onclick="openTab('_active')" data-tabname="_active"><strong>{{.Translation.TabActiveContent}}</strong></button>
      <button class="tabbutton" onclick="openTab('_saved')" data-tabname="_saved"><strong>{{.Translation.TabSavedElements}}</strong></button>
      {{range $i, $e := .Elements}}
      <button class="tabbutton" onclick="openTab('{{$e.Name}}')" data-tabname="{{$e.Name}}">{{$e.Name}}</button>
      {{end}}
    </div>

    <div id="_active" class="even contentbox tab" data-tabname="_active" style="height: 65%">
        <!---Current page-->
    </div>

    <div class="even contentbox tab" data-tabname="_saved" style="height: 65%">
      <!---Saved elements-->
      <h1>{{.Translation.TabSavedElements}}</h1>
      <ul id="list_saved_elements">
      </ul>
      <p><button onclick="downloadSaved();">{{.Translation.DownloadButton}}</button></p>
      <p><button onclick="clearSaved();">{{.Translation.ClearElements}}</button></p>
      <p><input type="file" id="replaceSaved"/> <button id="replaceSavedButton" disabled>{{.Translation.ReplaceElements}}</button></p>
    </div>

    <!---Elements-->
    {{range $i, $e := .Elements}}
    <div class="even contentbox tab" data-tabname="{{$e.Name}}" style="height: 65%">
      {{$e.HTML}}
    </div>
    {{end}}
  </div>

  <script>
    function openTab(tab) {
      var e = document.getElementsByClassName("tab");
      for(var i = 0; i < e.length; i++) {
        if(e[i].dataset.tabname == tab) {
          e[i].classList.remove('hidden');
        } else {
          e[i].classList.add('hidden');
        }
      }
      e = document.getElementsByClassName("tabbutton");
      for(var i = 0; i < e.length; i++) {
        if(e[i].dataset.tabname == tab) {
          e[i].classList.add('tabbuttonactive');
        } else {
          e[i].classList.remove('tabbuttonactive');
        }
      }
    }

    openTab("_saved");

    function setOffline(b) {
      if (b) {
        var h = document.getElementsByClassName("online")
        for(var i = 0; i < h.length; i++) {
          h[i].classList.add("hidden")
        }
        var h = document.getElementsByClassName("offline")
        for(var i = 0; i < h.length; i++) {
          h[i].classList.remove('hidden');
        }
        openTab("__offline")
      } else {
        var h = document.getElementsByClassName("offline")
        for(var i = 0; i < h.length; i++) {
          h[i].classList.add("hidden")
        }
        var h = document.getElementsByClassName("online")
        for(var i = 0; i < h.length; i++) {
          h[i].classList.remove('hidden');
        }
        openTab("_saved")
      }
    }

    setOffline(true);

    var lsName = "responsego_path_"+window.location.pathname

    function loadSaved(data) {
      var list = document.createElement("ul");
      list.id = "list_saved_elements";

      try {
        save = JSON.parse(data);
        if(save == null) {
          save = [];
        } else if(!Array.isArray(save)) {
          throw "not an array";
        }
      } catch(e) {
        alert(e);
        return
      }

      for(var i = 0; i < save.length; i++) {
        var a = document.createElement("A");
        a.textContent = save[i].Description;
        let f = save[i].From;
        let d = save[i].Data;
        a.onclick = function() {
          sendActivate(f, d);
        }
        a.dataset.From = save[i].From;
        a.dataset.Data = save[i].Data;
        a.dataset.Description = save[i].Description;
        var li = document.createElement("LI");
        li.appendChild(a);
        list.appendChild(li);
      }

      localStorage.setItem(lsName, data);
      document.getElementById('list_saved_elements').replaceWith(list);
    }
    loadSaved(localStorage.getItem(lsName))

    var ws;

    var hostname = window.location.hostname;
    var path = window.location.pathname;
    var port = window.location.port;
    var protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
    var ws = new WebSocket(protocol + '://' + hostname + ":" + port + path + "?ws=1&admin={{.Password}}");

    ws.onclose = function () {
      setOffline(true);
    };

    ws.onopen = function() {
      setOffline(false);
    };

    ws.onmessage = function(event){
      var data = JSON.parse(event.data);
      if(data.Action === "slower") {
        try {
          document.getElementById("_slower").innerText = data.Data
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Action === "break") {
        try {
          document.getElementById("_break").innerText = data.Data
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Action === "faster") {
        try {
          document.getElementById("_faster").innerText = data.Data
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Action === "question") {
        try {
          document.getElementById("_question").innerText = data.Data
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Action === "good") {
        try {
          document.getElementById("_good").innerText = data.Data
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
      if(data.Action === "html") {
        try {
          var a = document.getElementById("_active");
          a.innerHTML = data.Data;
          var as = a.getElementsByTagName("script")
          for(var i = 0; i < as.length; i++) {
            eval(as[i].innerText)
          }
        } catch (e) {
          console.log(e);
          ws.close(4000, e.toString().substring(0, 40));
        }
      }
    };

    function sendActivate(from, data) {
      var s = JSON.stringify({"From": from, "Action": "activate", "Data": data});
      try{
        ws.send(s);
        openTab("_active")
      } catch (e) {
        console.log(e);
        ws.close(4000, e.toString().substring(0, 40));
      }
    }

    function saveElement(from, data, description) {
      var list = document.getElementById("list_saved_elements");
      var a = document.createElement("A");
      a.textContent = description;
      a.onclick = function() {
        sendActivate(from, data);
      }
      a.dataset.From = from;
      a.dataset.Data = data;
      a.dataset.Description = description;
      var li = document.createElement("LI");
      li.appendChild(a);
      list.appendChild(li);

      var save = [];
      try {
        save = JSON.parse(localStorage.getItem(lsName));
        if(save == null) {
          save = [];
        } else if(!Array.isArray(save)) {
          throw "not an array";
        }
      } catch(e) {
        console.log(e);
        save = [];
      }
      save.push({"From": from, "Data": data, "Description": description});
      try {
        localStorage.setItem(lsName, JSON.stringify(save));
      } catch (e) {
        console.log(e);
      }
    }

    function clearSaved() {
      localStorage.removeItem(lsName);
      var list = document.createElement("ul");
      list.id = "list_saved_elements";
      document.getElementById('list_saved_elements').replaceWith(list);
    }

    function downloadSaved() {
      try {
        save = JSON.parse(localStorage.getItem(lsName));
        if(save == null) {
          save = [];
        } else if(!Array.isArray(save)) {
          throw "not an array";
        }
      } catch(e) {
        console.log(e);
        save = [];
      }
      var downloadLink = document.createElement('a');
      downloadLink.href = window.URL.createObjectURL(new Blob([JSON.stringify(save)], {type: ' text/plain'}));
      downloadLink.download = window.location.pathname.split("/").slice(-1)[0] + ".rgos";
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    }

    document.getElementById("replaceSavedButton").addEventListener("click", function(){
      if(document.getElementById("replaceSaved").files.length === 0) {
        return;
      }
      var file = document.getElementById("replaceSaved").files[0];
      var reader = new FileReader();
      reader.addEventListener('load', function(e) {
  	    loadSaved(e.target.result)
       });
       reader.addEventListener('error', function() {
         alert('Error');
       });
       reader.readAsText(file);
       document.getElementById("replaceSaved").value = "";
       var changeevent = new Event('change');
       document.getElementById("replaceSaved").dispatchEvent(changeevent);
    });

    document.getElementById("replaceSaved").addEventListener("change", function(e)
    {
      if(document.getElementById("replaceSaved").files.length === 0) {
        document.getElementById("replaceSavedButton").disabled = true;
      } else {
        document.getElementById("replaceSavedButton").removeAttribute("disabled");
      }
    });

    // Initial value
    {
      let changeevent = new Event('change');
      document.getElementById("replaceSaved").dispatchEvent(changeevent);
    }

    function sendData(from, data) {
      var s = JSON.stringify({"From": from, "Action": "admin", "Data": data});
      try{
        ws.send(s);
      } catch (e) {
        console.log(e);
        ws.close(4000, e.toString().substring(0, 40));
      }
    }

    function resetIcons() {
      var s = JSON.stringify({"From": "_global", "Action": "resetIcon"});
      try{
        ws.send(s);
      } catch (e) {
        console.log(e);
        ws.close(4000, e.toString().substring(0, 40));
      }
    }
  </script>


  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/" target="_blank"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html" target="_blank"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/dsgvo.html" target="_blank"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>
</body>

</html>
